= form_for [@post, @post.comments.build], :validate => true do |f|
	%p
		= f.label :content, t('views.post.comment')
		= f.text_area :content, :size => '40x10'
	%p
		= f.label :user_name, t('views.post.user_name')
		= f.text_field :user_name
	%br
	= f.submit t('views.post.create_comment')
	